.edit-profile-container {
    margin: 10px auto;
    text-align: center;
    width: 80%;
}

.form-edit-profile{
    width: 34%;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {

    .edit-profile-container {
        width: 100%;
    }

    .form-edit-profile{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}